@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    color: #fff;
}

.game-sect {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: 600px;
    height: 600px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*** Squares ***/
.square {
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    cursor: pointer;
}

#fristSquare,
#fourthSquare,
#sevenSquare {
    border-left: none;
}

#fristSquare,
#secondSquare,
#thirdSquare {
    border-top: none;
}

#thirdSquare,
#sexSquare,
#nienSquare {
    border-right: none;
}

#sevenSquare,
#eightSquare,
#nienSquare {
    border-bottom: none;
}

/*** Chose Buttons ***/
.chose-container {
    position: absolute;
    padding: 1em;
}

.chose {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 1em;
    cursor: default;
}

.chose-btn {
    font-size: 1.25em;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

/*** Declere Game ***/
.declere {
    display: none;
    position: absolute;
    font-size: 3em;
    font-weight: 600;
    text-transform: capitalize;
    animation: Word 1s ease-in-out alternate-reverse infinite;
    -webkit-animation: Word 1s ease-in-out alternate-reverse infinite;
}

/*** Restart Game ***/
.restart-btn {
    position: absolute;
    bottom: 40%;
    display: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: .1em;
    transform: translateY(2em);
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -o-transform: translateY(2em);
}

/*** Copyright ***/
.copyright {
    position: absolute;
    left: 1em;
    bottom: 1em;
}

.copyright  a{
    color: #fff;
}

/*** Responsive Media ***/
@media(max-width: 400px) {
    body {
        font-size: 12px;
    }

    .game-container {
        width: 100%;
        height: 50vh;
    }
}

@media(max-width: 350px) {
    body {
        font-size: 10px;
    }
}

/*** Animation ***/
@keyframes Word {
    from {
        transform: translateY(0);
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -ms-transform: translatey(0);
        -o-transform: translatey(0);
    } to {
        transform: translateY(1em);
        -webkit-transform: translateY(1em);
        -moz-transform: translateY(1em);
        -ms-transform: translateY(1em);
        -o-transform: translateY(1em);
    }
}